* {
    box-sizing: border-box;
    font-family: 'PT Sans', 'Trebuchet MS', Calibri, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: hsla(0, 0%, 41%, 0.8);
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    padding: 15px;
}

nav li {
    display: inline-block;
    margin: 0 auto;
    padding-inline-start: 0px;
}

li a {
    color: white;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

ul {
    padding-inline-start: 0;
}

#poem {
    font-size: 18px;
    font-weight: 700;
    margin: 40px auto 0 auto;
    color: hsla(0, 0%, 41%, 0.8);
    border: 3px dotted chartreuse;
    text-align: center;
    width: 30%;
    padding: 10px 0;
}

#imageRaven {
    width: 30%;
    height: auto;
    display: block;
    margin: 100px auto 0 auto;
    filter: drop-shadow(2px 2px 2px black);
    border-radius: 15px;
}

#imageFall {
    width: 30%;
    height: auto;
    display: block;
    margin: 40px auto;
    filter: drop-shadow(2px 2px 2px black);
    border-radius: 15px;
}

#clickPoem {
    display: block;
    margin: 40px auto 0 auto;
    color: hsla(0, 0%, 41%, 0.8);
    font-weight: 700;
    font-size: 18px;
    border: 2px solid darkgrey;
    border-radius: 15px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

#clickPoem:hover {
    background-color: white;
    border-color: chartreuse;
    color: forestgreen;
}

#home {
    color: chartreuse;
    margin-right: 80px;
    text-align: center;
}

.poemLine {
    padding: 5px 0;
}